.quiz-card{
 margin-top: 6rem;
}
.quiz-header{
    font-size: 2rem;
    color: var(--secondary);
}
.quiz-content{
    margin-top: 4rem;
   gap: 5rem 5rem;
   max-width: 40rem;
   flex-wrap: wrap;
}
.content-items{
    padding: 1rem;
    border: 1px solid var(--accent);
    color: var(--accent);
    min-width: 15rem;
    
}