.page-container{
    height: 100vh;
    width: 100vw;
    background-color: var(--primary);
    font-family: "Saira Condensed",sans-serif;
}
.page-header{
    color: var(--secondary);
}
.header-text{
    color: var(--secondary);
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 600;
}
.underline{
  background-color: var(--accent);
  min-width: 5rem;
  text-decoration: underline;
  margin-top: 0.1rem;
  min-height: 0.125rem;
}

.category-container{
    margin-top: 7rem;
    border: 1px solid var(--accent);
    width: 70%;
    border-radius: 7px;
    padding: 1rem;
}
.category-header-text{
    padding: 0;
    margin-bottom: 1rem;
}