.card{   
    padding: 0;
    background-color: var(--primary-light);
    border-radius: 1rem;
    box-shadow: none;
}
.card-img{
    padding: 0;
    width: 100%;
    border-radius: 1rem 1rem 0rem 0rem;
}
.card-description{
    align-items: center;
}
.card-title{
    color: var(--secondary);
    font-size: 1.2rem;
}
.cart-btn{
    padding: 4px;
    background-color: transparent;
    width: 60%;
    border: 1px solid var(--accent);
    border-radius: 1px;
    margin-bottom: 0.4rem;
    color: var(--accent);
    font-size: 1.2rem;
    font-weight: 400;
    transition: 0.4s;
}
.cart-btn:hover{
    background-color:var(--accent) ;
    color: #191A1A;
    
}